In [6]:

@hidden_cell
credentials_1 = {
  'port':'50000',
  'db':'BLUDB',
  'username':'bluadmin',
  'ssljdbcurl':'jdbc:db2://dashdb-enterprise4-yp-iadb-01.services.dal.bluemix.net:50001/BLUDB:sslConnection=true;',
  'host':'dashdb-enterprise4-yp-iadb-01.services.dal.bluemix.net',
  'https_url':'https://dashdb-enterprise4-yp-iadb-01.services.dal.bluemix.net:8443',
  'dsn':'DATABASE=BLUDB;HOSTNAME=dashdb-enterprise4-yp-iadb-01.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=bluadmin;PWD=ZDU4ZTNlNzZjMjc1;',
  'hostname':'dashdb-enterprise4-yp-iadb-01.services.dal.bluemix.net',
  'jdbcurl':'jdbc:db2://dashdb-enterprise4-yp-iadb-01.services.dal.bluemix.net:50000/BLUDB',
  'ssldsn':'DATABASE=BLUDB;HOSTNAME=dashdb-enterprise4-yp-iadb-01.services.dal.bluemix.net;PORT=50001;PROTOCOL=TCPIP;UID=bluadmin;PWD=ZDU4ZTNlNzZjMjc1;Security=SSL;',
  'uri':'db2://bluadmin:ZDU4ZTNlNzZjMjc1@dashdb-enterprise4-yp-iadb-01.services.dal.bluemix.net:50000/BLUDB',
  'password':""""""
}

SyntaxError: invalid syntax (<ipython-input-6-66dd47250704>, line 3)

In [2]:
from ibmdbpy import IdaDataBase, IdaDataFrame

db2con = IdaDataBase(dsn='DASHDB;Database=BLUDB;Hostname=dashdb-enterprise4-yp-iadb-01.services.dal.bluemix.net;Port=50000;PROTOCOL=TCPIP;UID=bluadmin;PWD=')

ida_df_1 = IdaDataFrame(db2con, 'ODS.HCM_ODS_EMPLOYEE')
ida_df_1.head()

,EMP_NUM,EMP_GRP_CD,EMP_GRP,EMP_SUBGRP_CD,EMP_SUBGRP,EMPL_STS_CD,EMPL_STS,FORM_OF_ADDR,FRST_NM,MID_NM,...,DW_CRTE_TS,DW_UPDT_TS,IS_PART_TIME,CNTRCT_STS_CD,CNTRCT_STS,IS_PM_DRVD,RCRTMNT_IND_CD,RCRTMNT_IND,LEGCY_HIRE_DT,APPLICANT_ID
0,482.0,I,Intnl. Contractual,I1,PEC Int. CNTRC,0,Withdrawn,Mr,Roberto,Alejandro Victor,...,2018-01-30 03:04:13,2018-01-30 03:04:13,N,TER,Completed/Terminated,N,002,Direct Hire,None,None
1,713.0,I,Intnl. Contractual,I1,PEC Int. CNTRC,0,Withdrawn,Mr,Lucio,None,...,2018-01-30 03:04:13,2018-01-30 03:04:13,N,None,None,N,None,None,None,None
2,750.0,N,Natnl. Contractual,N3,TTC Natnl. CNTRC,3,Active,Ms,Elba,Noemi,...,2018-01-30 03:04:13,2018-01-30 03:04:13,N,ACT,Active,N,002,Direct Hire,None,None
3,1052.0,N,Natnl. Contractual,N1,PEC Natnl. CNTRC,3,Active,Mr,Jose,de Arimatea,...,2018-01-30 03:04:13,2018-01-30 03:04:13,N,ACT,Active,Y,002,Direct Hire,None,None
4,1856.0,N,Natnl. Contractual,N1,PEC Natnl. CNTRC,0,Withdrawn,Mr,Eduardo,Luis,...,2018-01-30 03:04:13,2018-01-30 03:04:13,N,TER,Completed/Terminated,N,None,None,None,None